.app {
  background-color: blue;
}

.red {
  min-height: 100vh;
  background-color:red;
  padding: 30% 0;
}

.tweets {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile {
  height: 500px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0, 30px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}